*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 6% ;
    border: solid 1px black;
    background-color: #fff;
    color: black;
}

.search-box 
{
    color: black;
}

.nav-links 
{
    flex: 1;
    text-align: right;
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

